  <div class="page-header">
  <h1><%=t '.title', :default => 'Users' %></h1>
</div>

<%= grid(@users) do |g|

   g.column :name=>"ID"  do |task|
     task.id
   end

 g.column :name=>"Country" ,:attribute=>'name' , :assoc=>:country do |task|
    task.country.try(:name)
  end 

 g.column :name=>"Nickname" ,:attribute=>'nickname' do |task|
    task.nickname
  end 


  g.column :name=>"Email" ,:attribute=>'email' do |task|
    task.email
  end

 g.column :name=>"First Name" ,:attribute=>'first_name' do |task|
    task.first_name
  end


 g.column :name=>"Last Name" ,:attribute=>'last_name' do |task|
    task.last_name
  end

 g.column :name=>"Date Of Birth" ,:attribute=>'date_of_birth' do |task|
    task.date_of_birth
  end

 g.column :name=>"Created At" ,:attribute=>'created_at' do |task|
    task.created_at
  end
g.column :name=>"Actions" ,:filter=>false do |task|
    raw"#{link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_path(task), :class => 'btn btn-default btn-xs'} #{
  link_to t('.destroy', :default => t("helpers.links.destroy")),
  user_path(task),
  :method => :delete,
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
  :class => 'btn btn-xs btn-danger'}" 
  end

end -%>



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-primary' %>