  <div class="page-header">
  <h1><%=t '.title', :default => 'Competitions' %></h1>
</div>
<%= grid(@games) do |g|

  g.column :name=>"Competition ID" ,:attribute=>'id' do |task|
    task.id
  end


  g.column :name=>"Numer of Winners" ,:attribute=>'number_of_winner' do |task|
    task.number_of_winner
  end

g.column :name=>"Status" , :attribute=>'status' ,:custom_filter=>Game::STATUS.invert.to_a ,:auto_reload=>true  do |task|
    Game::STATUS[task.status]
  end



  g.column :name=>"Created At" ,:attribute=>'created_at' do |task|
    task.created_at
  end

# g.column :name=>"Actions" ,:filter=>false do |task|
#     link_to t('.edit', :default => t("helpers.links.edit")),
#                       edit_game_path(task), :class => 'btn btn-default btn-xs'
#   end

    end

    %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_game_path,
            :class => 'btn btn-primary' %>