  <div class="page-header">
  <h1><%=t '.title', :default => 'Images'%>
</div>
<%= grid(@game_pictures) do |g|

  g.column :name=>"Picture ID" ,:attribute=>'id' do |task|
    task.id
  end


  g.column :name=>"Original Picture" do |task|
    image_tag task.picture.url,:style => "max-height:200px;max-width:200px;"
  end


    g.column :name=>"Competiton Picture" do |task|
    image_tag task.competition_picture.url,:style => "max-height:200px;max-width:200px;"
  end



   g.column :name=>"Position X" ,:attribute=>'position_x' do |task|
    task.position_x
  end

  g.column :name=>"Position Y" ,:attribute=>'position_y' do |task|
    task.position_y
  end

 g.column :name=>"Is Used?" do |task|
    task.is_used? ? "YES" : "NO"
  end

g.column :name=>"Is Active?" , :attribute=>'is_active'  ,:auto_reload=>true  do |task|
    task.is_active?
  end

  g.column :name=>"Created At" ,:attribute=>'created_at' do |task|
    task.created_at
  end

g.column :name=>"Actions" ,:filter=>false do |task|
    link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_game_path(task), :class => 'btn btn-default btn-xs'  unless task.is_used?
  end

    end

    %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_game_path,
            :class => 'btn btn-primary' %>